# General folders and files
/.gradle
/projectFilesBackup*
/local.properties

# JetBrains folders and files
/.idea/*
!/.idea/codeStyles
/iOS/.idea/*
!/iOS/.idea/codeStyles
*.iml

# Build folders
/build
/Android/build
/iOS/build

# Xcode workspace folders
xcuserdata
/iOS/Index/
/iOS/Pods/
